body {
    font-family: 'Roboto', sans-serif;

    /*line-height: 22px;*/
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 125px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
}
hr {
    border: 1px solid darkgray;
}
    /*type D*/
table {
    border-collapse: collapse;
    font-weight: 600;
}
td {
    padding: 10px;
    border: 1px solid black;
}
tr:first-child {
    color: #626B7D;
    font-weight: 100;
}
td:first-child {
    color: #626B7D;
    font-weight: 100;
}
    /*type E*/
main div {
    display: inline-block;

    padding: 10px;
    margin-right: 8px;
    margin-bottom: 8px;

    min-width: 110px;
    text-align: center;

    border: 2px solid #D53148;
}
main div:last-child {
    margin: 0;
}
    /*error*/
.error {
    color: #C2001C;
}
                                /* F O O T E R */
footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}
.type-of-view {
    margin: 0 auto;
}